script(type="x-template" id="deleteBucketlist")
    transition(name="modal")
        .modal-mask
            .modal-wrapper
                .modal-container
                    .modal-header
                        slot(name="header") Delete Bucketlist?
                    .modal-body
                        slot(name="body") Sure you want to get rid of this Bucketlist?
                    .modal-footer
                        slot(name="footer")
                        router-link(v-bind:to="{ name: 'deleteBucketlist', params: bucketlistId: bucket.id }")
                            button(type="button" v-on:click.prevent.stop="deleteBucketlist").btn.btn-default Yes
                        router-link(v-bind:to="{ name: home}")
                            button(type="button").btn.btn-default No
                        

//- 
//-           <div class="modal-body">
//-             <slot name="body">
//-               default body
//-             </slot>
//-           </div>
//- 
//-           <div class="modal-footer">
//-             <slot name="footer">
//-               default footer
//-               <button class="modal-default-button" @click="$emit('close')">
//-                 OK
//-              
