script(type="text/x-template" id="home")
    .homepage
        ol
            li(v-for="bucket in buckets")
                h5 {{ bucket.name }}
                ol
                    li(v-for="item in bucket.item")
                        p {{ item.name }}
        button(type="")
