script(type="text/x-template" id="home")
    .homepage
        bopchy-navbar
        
        br
        br
        br
        
        h5 {{ message }}
        p
            router-link(v-bind:to="{ name: 'addBucketlist'}")
                button(type="button").btn.btn-default Create a new Bucketlist
        ol
            li(v-for="bucket in buckets")
                h5 {{ bucket.name }} 
                router-link(v-bind:to="{ name: 'editBucketlist', params: { bucketlistId: bucket.id } }") Edit
                router-link(v-bind:to="{ name: 'deleteBucketlist', params: { bucketlistId: bucket.id } }") Delete
                ol
                    li(v-for="item in bucket.item")
                        p {{ item.name }}
                        router-link(v-bind:to="{ name: 'editBucketlistItem', params: { bucketlistId: bucket.id, itemid: item.id } }") Edit 
                        router-link(v-bind:to="{ name: 'deleteBucketlistItem', params: { bucketlistId: bucket.id, itemId: item.id } }") Delete Item
                router-link(v-bind:to="{ name: 'addBucketlistItem', params: { bucketlistId: bucket.id } }") 
                    button(type="button").btn.btn-default Add a new item
