script(type="text/x-template" id="footer")
    .footer
        .container-fluid
            Ruth Bochere: 
            a(href='https://github.com/Bopchy/bucketlist-api/tree/develop') Find bapi on Github
