script(type="text/javascript" src="./vendor/vue/dist/vue.js")
script(type="text/javascript" src="./vendor/vue-router/dist/vue-router.js")

// Your app functions script
script(type="text/javascript" src="./js/main.js")
